<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head}"></head>

<body>
<h1>
    Update Vehicle Record
</h1>

<!-- Back to homepage -->
<div class="container mt-3">
    <a th:href="@{/VehicleHomepage}" class="btn btn-primary btn-sm">Back Home</a>
</div>

<!-- Update form -->
<form th:action="@{/updateVehicle}" th:method="post" th:object="${vehicle}" class="container mt-3">

    <div class="border p-3">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group row">
            <label th:for="make" class="col-sm-4 col-form-label required">Make</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{make}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label th:for="model" class="col-sm-4 col-form-label">Model</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{model}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:for="registrationNumber" class="col-sm-4 col-form-label">Registration Number</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{registrationNumber}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label th:for="year" class="col-sm-4 col-form-label">Year</label>
            <div class="col-sm-8">
                <input type="number" th:field="*{year}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:for="color" class="col-sm-4 col-form-label">Color</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{color}" class="form-control"/>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-secondary m-2" th:onclick="cancelForm()">Cancel</button>
        </div>
    </div>

</form>

<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/VehicleHomepage}]]";
    }
</script>

</body>
</html>
